.container {
  max-width: 800px;
  margin: auto;
  border-radius: 12px;
  background-color: #89c4c46c;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  padding: 20px;
}

.rpscont{
    text-align: center;
    margin: 5%;
}

.choices img {
  width: 100px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.choices img:hover {
  transform: scale(1.1);
}

.result-area {
  margin-top: 20px;
  font-size: 1.2rem;
}

.animate {
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.choices-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}

.choices-preview img {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

#winner {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  width: fit-content;
  margin: auto;
}

#winner.win {
  color: green;
  background-color: #28a745;
}

#winner.lose {
  color: rgb(151, 5, 5);
  background-color: #dc3545;
}

#winner.draw {
   color: rgb(70, 68, 64);
  background-color: #6c757d;
}

.win-text {
  color: green;
  font-weight: bold;
}

.lose-text {
  color: red;
  font-weight: bold;
}

.draw-text {
  color: orange;
  font-weight: bold;
}

/* Dark mode */
 body.dark  .rps{
  background-color: #1e1e2f;
 }
